[submodule "cosmos-sdk"]
	path = cosmos-sdk-go
	url = https://github.com/oraichain/cosmos-sdk.git
	branch = v0.45.16-ics-epi-191
[submodule "wasmd"]
	path = wasmd
	url = https://github.com/oraichain/wasmd.git
	branch = feat/gasless-contract
[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "tendermint"]
	path = tendermint
	url = https://github.com/tendermint/tendermint/
[submodule "bech32-ibc"]
	path = bech32-ibc
	url = https://github.com/osmosis-labs/bech32-ibc.git
	branch = master
[submodule "ethermint"]
	path = ethermint
	url = https://github.com/oraichain/ethermint.git
	rev = 7e4df27e54fd
