[submodule "cosmos-sdk"]
	path = cosmos-sdk-go
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "wasmd"]
	path = wasmd
	url = https://github.com/CosmWasm/wasmd.git
[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "tendermint"]
	path = tendermint
	url = https://github.com/tendermint/tendermint/
[submodule "bech32-ibc"]
	path = bech32-ibc
	url = git@github.com:althea-net/bech32-ibc.git
[submodule "ethermint"]
	path = ethermint
	url = https://github.com/tharsis/ethermint.git
